@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-zinc-800 focus:ring-white;
  }

  .absolute-center {
    @apply absolute transform -translate-x-1/2 -translate-y-1/2;
  }
}

body {
  /* @apply bg-primary-100; */
}

.border-bottom::before {
  content: '';
  background: #3F3F46;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 1px;
}

.animate-shine::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 10%;
  height: 100%;
  filter: blur(2px);
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: 0.3s;
  animation: shine-animation 6s infinite;
} 

@keyframes shine-animation {
  0% { left: -100%; background: rgba(255, 255, 255, 0.3); }
  20%, 100% { left: 120%; background: rgba(255, 255, 255, 0.2); }
}

.bg-gradient {
  /* background-image: linear-gradient(45deg, #3da281, #4b69b0, #924bb0, #4b69b0, #3da281); */
  background-image: linear-gradient(45deg, #3da281, #4b69b0, #3da281);
}

.bg-gradient-animated {
  background-size: 300%;
  animation: bg-gradient-animation 3s infinite alternate;
}

.slick-slide {
  height: 400px;
}

.slick-slide img {
  height: 400px;
}

@keyframes bg-gradient-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #d4d4d8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.rank-float {
  -webkit-animation: mover 1.5s infinite  alternate;
  -moz-animation: mover 1.5s infinite alternate;
  -o-animation: mover 1.5s infinite alternate;
  animation: mover 1.5s infinite  alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(15px); }
  100% { transform: translateY(-15px); }
}

@-moz-keyframes mover {
  0% { transform: translateY(15px); }
  100% { transform: translateY(-15px); }
}

@-o-keyframes mover {
  0% { transform: translateY(15px); }
  100% { transform: translateY(-15px); }
}

@keyframes mover {
  0% { transform: translateY(15px); }
  100% { transform: translateY(-15px); }
}